// blue: #2b469c
// lightblue: #99d5ec
// lightgreen: #9cc959

// blue: #0a26fc
// lighblue: #a1faf5
// darkerblue: #60f7ee
// lightgreen: #9efc9c
// darkergreen: #6efb6b

// Colors
$color-primary: #2b469c; //Blue
$color-secondary: #99d5ec; //Light blue
$color-tertiary: #9cc959; //Light green

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$shadow-sm: 0 1rem 2rem rgba($color-black,.3);
$shadow-md: 0 1.5rem 3rem rgba($color-black,.4);
$shadow-lg: 0 2.5rem 5rem rgba($color-black,.5);
