.header {
  height: 80vh;

  background-color: orangered;

  &-brand {
    display: flex;
    align-items: center;
    color: $color-white;
  }

    &__logo {
      height: 100%;

      &-box {
        height: 5rem;
        width: auto;
        margin: 2rem;
      }

      &-text {
        font-size: 4rem;
        font-weight: 300;
        color: inherit;
        margin-right: auto;
      }
    }

    &__nav {
      
    }

      &__list {
        list-style: none;
        margin-right: 3rem;

        display: flex;

        &-item {
          padding: .5rem 1rem;
          transition: all .2s;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          &:hover {
            transform: scale(1.1) translateY(-3px);
          }
        }

        &-link {
          text-decoration: none;
          color: inherit;
        }
      }

  &-main {

  }

  &__heading {

  }

}