.header {
  height: 100vh;

  background-image: linear-gradient(to bottom, rgba($color-white,.8), rgba($color-secondary,.8));

  &-brand {
    display: flex;
    align-items: center;
    color: $color-primary;
    height: 9rem;
  }

    &__logo {
      height: 100%;

      &-box {
        height: 8rem;
        width: auto;
        margin: 2.5rem;
      }

      &-text {
        font-size: 4rem;
        font-weight: 300;
        color: inherit;
        margin-right: auto;
        font-family: "Zurich";
      }
    }

      &__list {
        list-style: none;
        margin-right: 3rem;

        display: flex;

        &-item {
          padding: .5rem 1rem;
          transition: all .2s;

          &:not(:last-child) {
            margin-right: 2rem;
          }

          &:hover {
            transform: scale(1.1) translateY(-3px);
          }
        }

        &-link {
          text-decoration: none;
          color: inherit;
        }
      }

  &-main {
    height: calc(100vh - 9rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 200;
  }
}
