.footer {
  padding: .5rem;
  background-color: $color-white;
}

.social-media {

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    transition: all .2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}