.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: $border-radius;
    box-shadow: $shadow-sm;
    cursor: pointer;
    transition: all .2s;
  }

  &:hover {
    -webkit-transform: scale(1.15) translateY(-.5rem);
    transform: scale(1.15) translateY(-.5rem);
    box-shadow: $shadow-lg;
  }

  &:active {
    transform: scale(1.1) translateY(-.5rem);
    box-shadow: $shadow-md;
  }
  
  &-header {
    background-color: $color-primary;
    font-size: 2.5rem;
    font-weight: 300;

    animation: moveInRight 1s ease-out;

    &:hover {
      background-color: darken($color-primary, 10);
    }
  }

  &--white {
    &,
    &:link,
    &:visited {
      color: $color-black;
      background-color: $color-white;
    }
  }
}
